<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>LAYER01 | PLAYLISTS</title>
		<link rel="stylesheet" type="text/css" href="./css/playlists.css">
	</head>
	<body>
		<%- include("partials/menu") %>
		<div id="main">
			<h1>PLAYLISTS</h1>
			<div id="playlists">
				<% if (!playlists.length) { %>
					<h2>No playlist has been released yet :3c</h2>
					<img src="./images/astolfoSleep.png" style="margin: 20px auto 0 auto;">
				<% } %>
				<% for (let i = 0; i < playlists.length; i++) { %>
					<div class="playlist_container">
						<% let playlist = playlists[i] %>
						<div class="playlist_top">
							<h2 class="playlist_name"><%= playlist.name %></h2>
							<% if (playlist.mappack) { %>
								<a class="mappack" href="<%= playlist.mappack %>" target="_blank">Click me to download the mappack!</a>
							<% } %>
						</div>
						<table class="playlist" id="<%= playlist.name %>">
							<tr class="legend">
								<td>BANNER</td>
								<td>MOD</td>
								<td>ID</td>
								<td>MAP</td>
								<td>SR</td>
								<td>BPM</td>
								<td>LENGTH</td>
								<td>CS</td>
								<td>AR</td>
								<td>OD</td>
							</tr>
							<% for (let e = 0; e < playlist.maps.length; e++) { %>
								<% let map = playlist.maps[e] %>
								<tr class="map">
									<td><img src="<%= map.data.beatmapset.covers.card %>" class="map_banner"></a></td>
									<td><div class="<%= map.mod %>"><%= map.mod_id %></div></td>
									<td><div class="map_id"><%= map.id %></div></td>
									<td><a href="<%= map.data.url %>" target="_blank" class="map_name <%= map.mod %>">
										<%= map.data.beatmapset.artist %> - <%= map.data.beatmapset.title %> [<%= map.data.version %>]
									</a></td>
									<td><div class="sr"><%= map.data.difficulty_rating %></div></td>
									<td><div class="bpm"><%= map.data.bpm %></div></td>
									<td><div class="length"><%= map.data.hit_length %></div></td>
									<td><div class="cs"><%= map.data.cs %></div></td>
									<td><div class="ar"><%= map.data.ar %></div></td>
									<td><div class="od"><%= map.data.accuracy %></div></td>
								</tr>
							<% } %>
						</table>
					</div>
				<% } %>
			</div>
			<% if (user && user.roles.admin) { %>
				<form id="c_pool" method="POST" action="">
					<label for="c_name">Playlist Name<input type="text" name="c_name" class="c_name"></label>
					<label for="c_mappack">Mappack Link<input type="text" name="c_mappack" class="c_mappack"></label>
					<div class="c_map" id="c_0">
						<label for="c_mod">Mod<input type="text" name="c_mod" class="c_mod" minlength="3" maxlength="3"></label>
						<label for="c_id">ID<input type="text" name="c_id" class="c_id" minlength="1"></label>
					</div>
					<button type="button" id="create_map" onclick="createMap()">New map</button>
					<script type="text/javascript">
						function createMap() {
							let maps = document.getElementsByClassName('c_map')
							let before = document.getElementById('create_map')
							let i = maps.length
							let new_map = maps[maps.length - 1].cloneNode(true)
							new_map.id = `c_${i}`
							document.getElementById('c_pool').insertBefore(new_map, before)
						}
					</script>
					<input type="submit" id="submit" value="Create playlist!">
				</form>
			<% } %>
		</div>
	</body>
</html>
